.css-typing p:nth-child(1) {
  border-right: .15em solid #3399FF;
  white-space: nowrap;
  overflow: hidden;
  width: 4.6em;
  -webkit-animation: type 2s steps(40, end), blink .5s step-end infinite alternate;
  -o-animation: type 2s steps(40, end), blink .5s step-end infinite alternate;
  -moz-animation: type 2s steps(40, end), blink .5s step-end infinite alternate;
  animation: type 2s steps(40, end), blink .5s step-end infinite alternate;
  
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  border-right: .15em solid #3399FF;
  white-space: nowrap;
  overflow: hidden;
  width: 4.8em;
  opacity: 0;
  
  -webkit-animation: type2 2s steps(40, end), blink .5s step-end infinite alternate;
  -o-animation: type2 2s steps(40, end), blink .5s step-end infinite alternate;
  -moz-animation: type2 2s steps(40, end), blink .5s step-end infinite alternate;
  animation: type2 2s steps(40, end), blink .5s step-end infinite alternate;
  
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -o-animation-delay: 2s;
  -moz-animation-delay: 2s;
  
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fadein {
  opacity: 0;
  animation-delay: 4s;
  -moz-animation: fadein 2s ease-in 4s forwards; /* Firefox */
  -webkit-animation: fadein 2s ease-in 4s forwards; /* Safari and Chrome */
  -o-animation: fadein 2s ease-in 4s forwards; /* Opera */
  animation: fadein 2s ease-in 4s forwards;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid #3399FF;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid #3399FF;
  }
  100% {
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #3399FF;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #3399FF;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}