@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
#scrollstyle li {
	flex: 0 0 auto;
    box-shadow: 4px 4px 8px rgb(0,0,0,0.7), -4px -4px 8px rgba(255,255,255, 0.2);
    -webkit-box-shadow: 4px 4px 8px rgb(0,0,0,0.7), -4px -4px 8px rgba(255,255,255, 0.2);
    -moz-box-shadow: 4px 4px 8px rgb(0,0,0,0.7), -4px -4px 8px rgba(255,255,255, 0.2);
    margin: 10px;
    padding: 5px;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: calc((3vh + 0.5vw)/2);
    background-color: #292726;
    border-radius: 20px;
    color: white;
    overflow: hidden;
    -webkit-transition: width 0.5s ease 0s, height 0.5s ease 0.5s, transform 0.5s; /* Safari */
    transition: width 0.5s ease 0s, height 0.5s ease 0.5s, transform 0.5s;
}
/* The ribbons */

/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3399FF;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: 15px;
  right: 5px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}


.icons {
  width: 100%;
  height: 20%;
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.override.ui.divided.grid:not([class*="vertically divided"]) > .row > .column {
    box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.15);
}

.override.ui.item.content.contenta.header {
  font-weight: 900;
	display: flex;
  font-family: 'Titillium Web', sans-serif !important;
	justify-content: center;
	font-size: calc((5vh + 1vw)/2);
}

.ui.item.content {
  font-size: 1.2em
}

.item  {
  margin: 20px;
}

.contenta h1 {
  display: inline;
  text-align: left;
}

.clickable {
  cursor: pointer;
  overflow: hidden;
}

h1 svg {
	width: 15%;
	margin-left: 10px;
	fill: #3399FF;
	height: 100%;
}

.icons p {
	height: 30px;
	margin: 5px;
  padding: 3px;
	display: flex;
  justify-content: center;
  align-items: center;
  color: #292726;
  background-color: white;
  font-weight: 900;
}

.icons svg {
	fill: white;
	width: 30px;
	margin: 5px;
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}