#scrollstyle li {
	flex: 0 0 auto;
    box-shadow: 4px 4px 8px rgb(0,0,0,0.7), -4px -4px 8px rgba(255,255,255, 0.2);
    -webkit-box-shadow: 4px 4px 8px rgb(0,0,0,0.7), -4px -4px 8px rgba(255,255,255, 0.2);
    -moz-box-shadow: 4px 4px 8px rgb(0,0,0,0.7), -4px -4px 8px rgba(255,255,255, 0.2);
    margin: 10px;
    padding: 5px;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: calc((3vh + 0.5vw)/2);
    background-color: #292726;
    border-radius: 20px;
    color: white;
    overflow: hidden;
    -webkit-transition: width 0.5s ease 0s, height 0.5s ease 0.5s, transform 0.5s; /* Safari */
    transition: width 0.5s ease 0s, height 0.5s ease 0.5s, transform 0.5s;
}
/* The ribbons */

.corner-ribbon{
  width: 200px;
  background: #3399FF;
  top: 25px;
  left: -50px;
  text-align: center;
  border: 5px solid white;
  letter-spacing: 1px;
  color: #292726;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  overflow: hidden;
  cursor: pointer;
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
  top: 25px;
  right: -60px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


.icons {
  width: 100%;
  height: 20%;
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h1 {
	display: flex;
	justify-content: center;
	font-size: calc((5vh + 1vw)/2);
}

.clickable {
  cursor: pointer;
}

h1 svg {
	width: 15%;
	margin-left: 10px;
	fill: #3399FF;
	height: 100%;
}

.icons p {
	height: 30px;
	margin: 5px;
  padding: 3px;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	color: #292726;
  	background-color: white;
  	font-weight: 900;
}

.icons svg {
	fill: white;
	width: 30px;
	margin: 5px;
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}